<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Yogy 이용 약관</h3>
  </div>
  <div class="panel-body">
    약관내용.
  </div>
</div>
<%= render "devise/shared/links" %>
