/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.jumbotron {
  color: #707070 !important;
  background-color: #000000 !important;
}


.yogy_img
{
    max-width: 100%;
    height: auto;
}

.yogy_img_cols { 
}


@media only screen and (max-width: 380px) {
  .yogy_img_cols { 
  }
}
