<div class="panel panel-default">
  <div class="panel-body">
    <h3> <%= @user.name %>
    <small>
    님이 찍은 <%= raw link_yogies(@yogies_string) %> 사진입니다
    </small>
    </h3>
  </div>
</div>

<%= render partial: 'list', locals: {images: @images}  %>
